* {
    margin:0px;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

h2 {
    font-family: "UnifrakturCook", sans-serif;
    font-size: 5rem;
    color: #2A1D1B;
}

.wrap{
    max-width: 1200px;
    margin:auto;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

.img_betw_sec {
    width:100%;
    height:100px;
    
    background-image: url(img/ornaments2.png);
    background-color: #AF8260;
    background-repeat: repeat-x;
    background-size: auto 100px;
    position:relative;
    margin-left:0;
    margin-top:-50px;
    margin-bottom:-50px;
    z-index:2;
    background-position: center;
}

.ujo_img {
    background-image: url(img/ornaments1.png);
}

.logo h1 {
    font-family: "MedievalSharp", sans-serif;
    font-size: 5rem;
    margin: 0;
    padding: 0;
    margin: auto;
    max-width: 100%;
}

.logo h1:first-child::first-letter {
    font-size: 12rem;
}

.logo h1:first-child {
    font-size: 10rem;
}

.logo h1:nth-child(2) {
    font-size: 3rem;
}

.logo h1:nth-child(3) {
    font-size: 5rem;
    padding-left: 10rem;
}

.logo img {
    filter: invert(90%) sepia(6%) saturate(206%) hue-rotate(161deg) brightness(84%) contrast(96%);    scale: -1 1;
    position: fixed;
    top: 100px;
    right: 100px;
    width: 300px;
    display: none;
}

.logo {
    padding-top: 100px;
    margin: auto;
    max-width: 100%;
    text-align: center;
    color: #bdc3c7;
    position: relative;
    display: block;
    min-width: 500px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: 0.9;   
}

header {
    background: black;
    background-image: url(img/header.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    height: 800px
}

nav {
    background-color: #322C2B;
}

#nav {
    font-family: "Roboto Slab", sans-serif;
    text-transform:uppercase;
}

#nav_flexcontainer {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100%;
}

#nav_flexcontainer li a {
    padding: 20px;
    
}

#nav_flexcontainer li{
    padding: 20px;
    margin: auto;
    color: white;
    transition: 0.3s ease all;

}

#nav_flexcontainer li:hover {
    background-color: #625756;
    transform: scale(1.1);
}

#about_sec {
    position: relative;
    background-size: cover;
    background-color: #E4C59E;
    padding-top: 150px;
    padding-bottom: 200px;
    
    
    background-image: url(img/knight.svg);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 47% 90%;
        
}

#about {
    display: grid;
    gap: 1rem;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#about img {
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
}

#about h2 {
    right: 0;
    grid-column: 2;
}

#about p {
    grid-column: 2;
    color: #2F1916;
    text-align: justify;
    background: rgb(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
}

#services_sec {
    position: relative;
    background-color: #803D3B;
    background-image: url(img/red_bg2.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    z-index: 1;
}

#services {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    
}

.services_block{
    background-color: #E4C59E;
    border-radius: 15px;
    padding: 20px;

    
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 0.3s ease all;
}

.services_block:hover{
    background-color: #FBE5C9;
    cursor: pointer;
}

.services_block:hover .services_header h3 {
    transform: scale(1.1);
}

.services_block p {
    text-align: justify;
    
}

.services_block i {
    color: #AF8260;
    font-size: 5rem;
    text-align: center;
    border-bottom: #AF8260 dotted 3px;
}

.services_header {
    display: flex;
    gap: 2rem;
    justify-content: left;
    width: 100%;
    margin: auto;
    text-align: left;
    align-items: center;
}

.services_header h2{
    padding-right: 15px;
    border-right: #322C2B solid 3px;
    color: #803D3B;
    
}

.services_header h3 {
    font-size: 3rem;
    text-transform: uppercase;
    top: 50%;
    transition: 0.3s ease all;

}

.section_title {
    text-align: center;
    padding-bottom: 50px;
}

.section_title h2 {
    color: #FBE5C9;
    text-shadow: 2px 2px 10px black;
}

.section_title img {
    width: 50%;
    margin: 0;
    filter: invert(62%) sepia(8%) saturate(1986%) hue-rotate(343deg) brightness(87%) contrast(85%);
}

#clients_sec {
    position: relative;
    background-color: #E4C59E;
    z-index: 1;
    padding-top: 200px;
    padding-bottom: 200px;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

#clients {
    white-space: nowrap;
    overflow: hidden;
}


#clients:before,
#clients:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

#clients:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #E4C59E);
}
  
#clients:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #E4C59E);
  }

.clients_slide{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: 60s slide infinite linear;
}

.clients_slide_el {
    background: #803D3B;
    filter: brightness(100%);
    border-radius: 2rem;
    display:inline-block;
    white-space: normal;
    margin: 0 1rem;
}

.clients_slide_el_grid {
    width: 30rem;
    height: 350px;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 1rem;
    padding: 30px;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    
}

.clients_slide_el_grid img {
    border-radius: 50% 50% 0 0;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border: 5px solid #B98A4F;
}

.clients_slide_el_grid h3 {
    color: #E4C59E;
    font-size: 2rem;
}

.clients_slide_el_grid i {
    font-size: 2rem;
    padding-top: 1rem;
}

.clients_slide_el_grid p {
    grid-column: span 2;
    color: black;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
}

#contact_sec {
    background: black;
    background-image: url(img/header.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

#contact {
    padding: 200px 0;
}

#contact .section_title h2 {
    color: white;
    text-shadow: 2px 2px 10px black;
}

#contact a {
    display: block;
    margin: 0 auto;
    float: left;
}

#contact a img {
    border: #322C2B dashed 10px;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    transition: 0.3s ease all;
}

#contact a img:hover {
    transform: scale(1.05);
}

#contact_info{
    display: block;
}
.contact_el {
    color: white;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(255, 255, 255,0.2);
    vertical-align: middle;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    column-gap: 3rem;
    margin: 20px 0;
    transition: 0.3s ease all;
}

.contact_el:hover {
    background-color: rgb(255, 255, 255,0.5);
    transform: scale(1.05);
    cursor: pointer;
}

.contact_el i {
    grid-row: span 2;
    font-size: 5rem;
    text-align: center;
}

.contact_el h3 {
    font-size: 3rem;
    text-align: left;
}

.contact_el p {
    font-size: 2rem;
    text-align: left;
    width: 100%;
}

#contacts_wrap{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1.3fr 1fr;
    padding: 20px;
}

@media (max-width: 1080px){
    #services {
        grid-template-columns: 1fr;
    }
    
}

@media (max-device-width: 768px){
    #about {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    #about img {
        display: none;
    }

    #contacts_wrap {
        grid-template-columns: 1fr;
    
    }

    #map {
        width: 100%;
        
    }
    #map a img {
        align-self: center;
        justify-self: center;
        width: 100%;
        max-width: none;
    }

    #nav_flexcontainer li{
        display: none;
    }

    #nav_flexcontainer li:first-child {
        display: block;
        width: 100%;
        margin: 0;
    }
    #nav_flexcontainer i {
        font-size: 3rem;
        padding: 50px 50%;
    }
}

@media (min-device-width: 768px){
    #about {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    #about img {
        grid-row: span 2;
    }
    #nav_flexcontainer li:first-child {
        display: none;
    }
}

#nav_flexcontainer.active li {
    display: block;
    width: 100%;
    text-align: left;
}
#nav_flexcontainer.active a {
    width: 100%;
}